.center {
text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    display: inline;
    width: 300px;
    height: auto;
}

body {
    background: url('../images/numberTrain.jpg') no-repeat center fixed;
    background-size: cover;
}

#app {
    width: 60%;
    margin: 50px auto;
}

#headers {
    display: inline-block;
    color: rgb(255,0,174);
    border: solid rgb(255,185,84) 1.5px;
    box-shadow: 0px 0px 10px rgb(255,185,84);
    background-color: rgba(28, 28, 28,.9);
    padding: 5px;
    
}

#footer {
    width: 100%;
    border-top: solid 2px black;
    background-color: white;
    position: fixed;
    bottom: 0;
    padding-top: 10px;
}

#input-parent {
    position: relative;
    width: 160px;
    margin: 2em auto;
}

#player-input {
    background-color: rgb(0,0,0);
    color: rgb(255,185,84);
    border: solid rgb(255,185,84) 1.5px;
    border-radius: 50%;
    height: 160px;
    width: 160px;
    font-size: 25px;
    
}

#submit {
    position: absolute;
    top: 11em;
    left: 11.5em;
    border-radius: 50%;
    height: 52px;
    width: 52px;
    font-size: 10px;
    padding: 0 .5em;
    background-color: rgb(255,185,84);
    border: solid rgb(255,0,174) 3px;
}
#guesses{
    display: inline-block;
    align-content: center;
}

#guess-list {
    display: inline-block;
    margin: 3em 0;
    
}
.guess-entry {
    display: inline-block;
    border: solid rgb(255,185,84) 1.5px;
    color: rgb(255,185,84);
    background-color: rgb(28, 28, 28);
    border-radius: 15%;
    font-size: 3em;
    padding: 0 .5em;
    
}

p {
        font-size: 1.75em;
}

#reset, #hint {
    box-shadow: 2px 3px rgb(255,185,84);
    background-color: black;
    border: solid rgb(255,185,84) 1.5px;
    color: rgb(255,0,174);
}